/* Removed the scaleX(-1) transforms so the tracking matches the visuals */
.ar-viewport-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-container-mindar {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 8px;
  width: fit-content; 
  position: relative;
  z-index: 10000; 
}

.help-btn-mindar {
  background-color: #E2E5FF;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-right: 25px;
}

