/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.page-wrapper{
    background-color: #E4D7C4;
    padding: 20px;
    width: 100%;
    height: 100%;
}

/* WRAPPER Home */
.home-wrapper {
    width: 100%;
    height: 100vh;
    background: #EA562E;
}

/* =========================
   MOBILE VERSION (DEFAULT)
   ========================= */

.hero-mobile {
    display: flex;
}

.hero-landing {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;

    background-image: url('/images/background-avj-queiroz-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(to bottom, #EA562E 97% , transparent 100%);

    justify-content: center;
    align-items: flex-end;

    padding: 0 1rem calc(2rem + env(safe-area-inset-bottom));
}

/* =========================
   DESKTOP VERSION (HIDDEN BY DEFAULT)
   ========================= */

.hero-desktop {
    display: none;
    width: 100%;
    height: 100vh;
}

/* LEFT SIDE */
.hero-left {
    flex: 1;
    background-image: url('/images/background-avj-queiroz.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    /* reduce image size to stop overflowing on the top*/
    background-size: contain;
    mask-image: linear-gradient(to right, #EA562E 75% , transparent 77%);

}

/* RIGHT SIDE */
.hero-right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    text-align: center;

}

.hero-right h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #19283E;
    font-weight: 900;
}

.qr-code {
    width: 180px;
    height: 180px;
    margin-bottom: 1.5rem;
}

.hero-right p {
    margin-bottom: 2rem;
    color: #19283E;
    font-weight: 700;
}



/* =========================
   SWITCH LOGIC
   ========================= */

/* Desktop OR landscape tablets */
@media (min-width: 768px) and (orientation: landscape) {
    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: flex;
    }
    
   
}

/* Large desktops (force desktop layout) */
@media (min-width: 1024px) {
    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: flex;
    }

    .hero-btn{
        display: none;
    }
    
}