.home-wrapper {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E4B9BA; /* fallback + status bar color */
    background: url('/images/background-avj-2.png');
    background-size: cover;
    background-position: center;
    color: #333;
}

.home-main {
    flex: 1;
    width: 100%;
    padding: 3rem 1rem;
    text-align: center;
}


.button-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    outline: 2px solid #E4B9BA;
    text-transform: uppercase;
    color: #E4B9BA;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

.btn-secondary {
    color: #E4B9BA;
}

footer {
    background-color: #eeee;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
}

.container-flex {
    display: grid;

    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;

    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}

.container-flex-item-3 {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}


.button-row {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem 1.5rem;

    background-color: #3e2c2300;

    z-index: 1000; /* stays above everything */
}

.btnNav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: #E4B9BA;

    transition: transform 0.2s ease;
}

.btnNavEmpty{
    background-color: transparent;
}

.btnNav img {
    width: 22px;
    height: 22px;
}

.btnNav-secondary {
    color: white;
}

.btnNav-secondary:hover {
    background-color: #E76F2E;
    color: white;
}
