/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Fira Sans", sans-serif;
}

/* WRAPPER */
.home-wrapper {
    width: 100%;
    height: 100vh;
    background: #E4B9BA;
}

/* =========================
   MOBILE VERSION (DEFAULT)
   ========================= */

.hero-mobile {
    display: flex;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;

    background-image: url('/images/background-avj-4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    justify-content: center;
    align-items: flex-end;

    padding: 0 1rem calc(2rem + env(safe-area-inset-bottom));
}

/* =========================
   DESKTOP VERSION (HIDDEN BY DEFAULT)
   ========================= */

.hero-desktop {
    display: none;
    width: 100%;
    height: 100vh;
}

/* LEFT SIDE */
.hero-left {
    flex: 1;
    background-image: url('/images/background-avj-4.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    /* reduce image size to stop overflowing on the top*/
    background-size: contain;
    
}

/* RIGHT SIDE */
.hero-right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #E4B9BA, #fff);

}

.hero-right h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #323232;
}

.qr-code {
    width: 180px;
    height: 180px;
    margin-bottom: 1.5rem;
}

.hero-right p {
    margin-bottom: 2rem;
    color: #444;
}

/* BUTTON */
.hero-btn {
    width: 100%;
    max-width: 220px;
    padding: 1rem;

    text-align: center;
    text-decoration: none;

    background-color: #E4B9BA;
    color: rgb(50, 50, 50);

    font-size: 1.1rem;
    font-weight: bold;

    border-radius: 30px;

    transition: all 0.25s ease;
}

.hero-btn:hover {
    transform: translateY(-2px);
    background-color: #d89fa0;
}

/* =========================
   SWITCH LOGIC
   ========================= */

/* Desktop OR landscape tablets */
@media (min-width: 768px) and (orientation: landscape) {
    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: flex;
    }
}

/* Large desktops (force desktop layout) */
@media (min-width: 1024px) {
    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: flex;
    }

    .hero-btn{
        display: none;
    }
}