.project-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
    padding-bottom: 50px;
    animation: fade 0.5s ease-in;
}

.project-container-image-author-row {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.project-container-image img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 14px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-container-author {
    display: flex;
    justify-content: flex-end;
}

.project-container-author p {
    font-size: 0.95rem;
    font-weight: 600;
    font-style: italic;
}

.project-container-description p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    text-align: justify;
}

.project-container-author-name {
    font-size: 0.95rem;
    font-weight: 600;
    font-synthesis: style;
    font-style: italic;
    color: #19283E;
}

.project-container-learn-more {
    background-color: #EA562E;
    color: #E4D7C4;
    border: none;
    padding: 6px 12px;
    border-radius: 14px;
    cursor: pointer;
    font-size: .89rem;
}

.project-container-learn-more:hover {
    background-color: #da4c24;
}

.project-topnav{
    background-color: #19283E;
    border-radius: 14px;
    margin: 1rem auto;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.project-topnav a{
    color: #E4D7C4;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
    
}

.project-topnav a.active {
    color: #EA562E !important;
}

.project-description{
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    display: block;
    margin: auto;
}
