.quadro-container-img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 24px;

}

.quadro-container-img{
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}



.title-main{
  font-size: 2.5rem;
  font-weight: 700;
  color: #19283E;
}

.title-side{
  font-size: 1rem;
  font-weight: 300;
  color: #19283E;
}

.quadro-container-text-wrapper{
  margin-top: 1.5rem;
}

.quadro-container-text{
  font-size: 1rem;
  font-weight: 400;
  color: #19283E;
  white-space: pre-line;
  font-synthesis: style;
  font-style: italic;
}

.quadro-container-button-wrapper{
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.quadro-container{
  padding-bottom: 10px;
}

.header-container{
  display: flex;
  align-items: center;
}

.title-btn-wrapper{
  display: flex;
  align-items: center;
  gap: 15px;
}

.title-btn-back-btn{
  background-color: #E2E5FF;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 14px;
  color: #19283E;
}

.control-buttons {
  position: relative;
  z-index: 1000;
}


.quadro-container-button{
  background-color: #EA562E;
  color: #E4D7C4;
  border: none;
  padding: 12px 24px;
  border-radius: 14px;
  cursor: pointer;
}

.quadro-container-button:hover {
  background-color: #d9534f;
}

