/* BUTTON */
.start-btn {
    display: inline-block;
  padding: 12px 24px;
  background-color: #ea562e;
  color: #E2E5FF;
  border-radius: 14px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}